# NodeJS stuff
dist/
node_modules/

# Python
*.pyc
__pycache__
.mypy_cache

# VSCode stuff
.vscode/

# Database configs. Don't commit them to git.
config/*.json

# Binary files.
*.exe

# The database itself.
*.db

# The log file
*.log

# This is just for test purpose.
tests/
