<!DOCTYPE>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>XV Homepage</title>

        <!-- developer version -->
        <script src="/js/vue.js"></script>
        <script src="/js/jquery-3.3.1.min.js"></script>

        <style>
            .playing {
                color:blue
            }
        </style>
    </head>

    <body>
        <div id="app">
            <div id="panel">
                <div>
                    <input type="text" v-model="keyword">
                    <input type="date" v-model="afterdate">
                    <input type="button" id="search_btn" value="搜索" v-on:click="search">
                    <input type="button" id="reset_btn" value="清除搜索" v-on:click="clearSearch">
                    <input type='button' id='stop_play_header_btn' value='停止播放' v-on:click="stopVideo">
                    <input type='button' id='random_shuffle' value="随机排序" v-on:click="randomShuffle">
                    <input type='button' id='count_shuffle' value="计数排序" v-on:click="countShuffle">
                    <input type='button' id='oldest_shuffle' value="最早排序" v-on:click="oldestShuffle">
                    <input type='button' id='latest_shuffle' value="最新排序" v-on:click="latestShuffle">
                </div>
                <p>
                    共{{dlists.length}}个结果, 展示{{vlists.length}}条

                    <input type='button' id='prev_page_btn' value='上一页' v-on:click="goPrevPage">
                    <input type='button' id='next_page_btn' value='下一页' v-on:click="goNextPage">
                </p>
                <p v-show="servermsg.length>0">
                    {{servermsg}}
                </p>
            </div>
            <div id="board">
                <div v-for="(info,index) in vlists" v-bind:id="index">
                    <div v-bind:id="'info_'+index"  v-show="playing!=index && !info.hidden" class="vinfo" v-bind:data-index="index">
                        <a v-on:click="playVideo(index)">
                            <img v-bind:src="'/cover?id=' + info.cid" style="width: 30%">
                        </a>
                    </div>
                    <div v-bind:id="'vid_'+index" v-if="playing==index">
                        <video id="video_playing" v-bind:src="'/video?id=' + info.id" v-on:loadedmetadata="adjustVideo($event)" controls autoplay></video>
                        <p><span class='playing'>正在播放: {{info.fname}}</span></p>
                        <p>
                            <input v-for="rate in rates" type="button" v-bind:value="rate + 'x'" v-on:click="changePlayRate(rate)">
                        </p>
                    </div>
                    <p>{{info.fname}} 文件大小: {{ReadableSize(info.fsize)}} 修改日期: {{new Date(info.mtime).toLocaleString()}} 观看计数: {{info.watchcount}}</p>
                </div>
            </div>
            <div>
                <input type='button' id='prev_page_btn' value='上一页' v-on:click="goPrevPage">
                <input type='button' id='next_page_btn' value='下一页' v-on:click="goNextPage">
                <input type='button' id='stop_play_footer_btn' value='停止播放' v-on:click="stopVideo">
            </div>
        </div>

        <script>
            let app=new Vue({
                el:"#app",
                data:{
                    rates:[0.5,0.75,1,1.25,1.5,2,2.5],
                    alists:[],  // All video
                    dlists:[],  // Searched result
                    vlists:[],  // Visual result
                    showoffset: 0,
                    showsize: 100,
                    playing:-1,
                    keyword:'',
                    afterdate:null,
                    resultCount:-1,
                    servermsg:''
                },
                computed:{

                },
                methods:{
                    stopVideo:function() {
                        console.log(`Stop playing video. Previous index: ${this.playing}`)
                        this.playing=-1
                    },
                    playVideo:function(index) {
                        $.post("/video_played",{
                            id: this.vlists[index].id
                        })
                        console.log(`Play video: ${index}`)
                        this.playing=index
                    },
                    ReadableSize:function(size) {
                        if(size>=1024*1024*1024) {
                            return `${Number(size/1024/1024/1024).toFixed(2)}G`
                        } else if(size>=1024*1024) {
                            return `${Number(size/1024/1024).toFixed(2)}M`
                        } else if(size>=1024) {
                            return `${Number(size).toFixed(2)}K`
                        } else {
                            return `${size}B`
                        }
                    },
                    adjustVideo:function(e) {
                        let video_playing=e.srcElement
                        if(video_playing.getAttribute('adjusted')!='yes') {
                            if(video_playing.videoWidth<1024 || video_playing.videoHeight<768) {
                                console.log(`video_playing: width=${video_playing.videoWidth} height: ${video_playing.videoHeight}`)
                                video_playing.setAttribute('width',1024)
                                video_playing.setAttribute('height',768)
                                video_playing.setAttribute('adjusted','yes')
                            }
                        }
                    },
                    updateVisual:function() {
                        console.log("update visual")
                        let tmplst = []
                        for(let i=this.showoffset; i<this.showoffset + this.showsize && i < this.dlists.length; i++) {
                            tmplst.push(this.dlists[i])
                        }
                        this.vlists = tmplst
                    },
                    randomShuffle:function() {
                        console.log("random shuffle started")
                        // Do a quick Fisher–Yates shuffle
                        let m = this.dlists.length
                        while(m) {
                            let i = Math.floor(Math.random() * m--)

                            let temp = this.dlists[m]
                            this.dlists[m] = this.dlists[i]
                            this.dlists[i] = temp
                        }
                        console.log("random shuffle done.")
                        this.updateVisual()
                    },
                    countShuffle: function() {
                        console.log("count shuffle started.")
                        this.dlists.sort((a, b) => {
                            return a.watchcount - b.watchcount
                        })
                        console.log("count shuffle done.")
                        this.updateVisual()
                    },
                    latestShuffle: function() {
                        console.log("latest shuffle started.")
                        this.dlists.sort((a, b) => {
                            return new Date(a.mtime) - new Date(b.mtime)
                        })
                        console.log("latest shuffle done.")
                        this.updateVisual()
                    },
                    oldestShuffle: function() {
                        console.log("oldest shuffle started.")
                        this.dlists.sort((a, b) => {
                            return new Date(b.mtime) - new Date(a.mtime)
                        })
                        console.log("oldest shuffle done.")
                        this.updateVisual()
                    },
                    goPrevPage:function() {
                        console.log("prev page.")
                        this.stopVideo()
                        this.showoffset -= this.showsize
                        if(this.showoffset<1) {
                            this.showoffset=0
                        }
                        console.log(this.showoffset, this.showsize)

                        this.updateVisual()
                    },
                    goNextPage: function() {
                        console.log("next page.")
                        this.stopVideo()
                        if(this.showoffset + this.showsize < this.dlists.length) {
                            this.showoffset += this.showsize
                            console.log(this.showoffset, this.showsize)
                            this.updateVisual()
                        }
                    },
                    search: function() {
                        console.log(`search: ${this.keyword} ${this.afterdate}`)
                        this.stopVideo()
                        if(this.keyword.length<1 && this.afterdate==null) {
                            this.clearSearch()
                        } else {
                            this.resultCount=0
                            this.showoffset=0
                            let temp = []
                            for(let i=0;i<this.dlists.length;i++) {
                                if(this.dlists[i].fname.toLowerCase().indexOf(this.keyword.toLowerCase())!=-1 && (!this.afterdate || new Date(this.dlists[i].mtime) -new Date(this.afterdate)>=0) ) {
                                    ++this.resultCount
                                    temp.push(this.dlists[i])
                                }
                            }
                            this.dlists = temp
                            this.updateVisual()
                        }
                        console.log(`Total=${this.resultCount}`)
                    },
                    clearSearch:function() {
                        this.stopVideo()
                        this.keyword=''
                        this.resultCount=-1
                        this.afterdate=null
                        this.showoffset = 0

                        this.dlists = this.alists
                        this.updateVisual()
                    },
                    changePlayRate:function(rate) {
                        console.log(`Playback rate changed to ${rate}`)
                        document.getElementById("video_playing").playbackRate=rate
                    }
                }
            })

            $.get("/list",(data)=>{
                app.alists=data
                app.dlists=data
                app.showoffset=0
                app.showsize=100
                app.updateVisual()
            },'json').fail((err)=>{
                console.log(`Failed: ${err}`)
            })
        </script>
    </body>
</html>
