<!DOCTYPE>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>XV Homepage</title>

        <!-- developer version -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <style>
            .playing {
                color:blue
            }
        </style>
    </head>

    <body>
        <div id="app">
            <div id="panel">
                <div>
                    <input type="text" v-model="keyword" v-on:input="search">
                    <input type="button" id="reset_btn" value="清除搜索" v-on:click="clearSearch">
                </div>
                <p>
                    {{vlists.length}}条数据. 
                    <span v-if="resultCount>0">展示了{{resultCount}}个结果.</span> 
                    <span v-if="resultCount==0">无搜索结果</span>
                </p>
                <p v-show="servermsg.length>0">
                    {{servermsg}}
                </p>
            </div>
            <div id="board">
                <div v-for="(info,index) in vlists" v-bind:id="index">
                    <div v-bind:id="'info_'+index"  v-show="playing!=index && !info.hidden" class="vinfo" v-bind:data-index="index">
                        <a v-on:click="playVideo(index)">
                            <img v-bind:src="'/cover/' + info.cid">
                        </a>
                        <p>{{info.fname}} 文件大小: {{ReadableSize(info.fsize)}} 修改日期: {{new Date(info.mtime).toLocaleString()}}</p>
                    </div>
                    <div v-bind:id="'vid_'+index" v-if="playing==index">
                        <video v-bind:src="'/video/' + info.id" v-on:loadedmetadata="adjustVideo($event)" controls autoplay></video>
                        <p><span class='playing'>正在播放: {{info.fname}}</span></p>
                    </div>
                </div>
            </div>
        </div>

        <script>
            let app=new Vue({
                el:"#app",
                data:{
                    vlists:[],
                    playing:-1,
                    keyword:'',
                    resultCount:-1,
                    servermsg:''
                },
                computed:{

                },
                methods:{
                    playVideo:function(index) {
                        $.post("/video_played",JSON.stringify({
                            id:this.vlists[index].id
                        }))
                        console.log(`Play video: ${index}`)
                        this.playing=index
                    },
                    ReadableSize:function(size) {
                        if(size>=1024*1024) {
                            return `${Math.ceil(size/1024/1024)}M`
                        } else if(size>=1024) {
                            return `${Math.ceil(size/1024)}K`
                        } else {
                            return `${size}B`
                        }
                    },
                    adjustVideo:function(e) {
                        let video_playing=e.srcElement
                        if(video_playing.getAttribute('adjusted')!='yes') {
                            if(video_playing.videoWidth<1024 || video_playing.videoHeight<768) {
                                console.log(`video_playing: width=${video_playing.videoWidth} height: ${video_playing.videoHeight}`)
                                video_playing.setAttribute('width',1024)
                                video_playing.setAttribute('height',768)
                                video_playing.setAttribute('adjusted','yes')
                            }
                        }
                    },
                    search:function() {
                        console.log(`search: ${this.keyword}`)
                        if(this.keyword.length<1) {
                            this.clearSearch()
                        } else {
                            this.resultCount=0
                            let divlist=document.querySelectorAll('.vinfo')
                            for(let i=0;i<divlist.length;i++) {
                                let index=parseInt(divlist[i].getAttribute('data-index'))
                                if(this.vlists[index].fname.toLowerCase().indexOf(this.keyword.toLowerCase())!=-1) {
                                    ++this.resultCount
                                    this.vlists[index].hidden=false
                                } else {
                                    this.vlists[index].hidden=true
                                }
                            }
                        }
                        console.log(`Total=${this.resultCount}`)
                    },
                    clearSearch:function() {
                        this.keyword=''
                        this.resultCount=-1

                        let divlist=document.querySelectorAll('.vinfo')
                        for(let i=0;i<divlist.length;i++) {
                            this.vlists[parseInt(divlist[i].getAttribute('data-index'))].hidden=false
                        }
                    }
                }
            })

            $.post("/list",(data)=>{
                app.vlists=data
            },'json').fail((err)=>{
                console.log(`Failed: ${err}`)
            })
        </script>
    </body>
</html>